<h2>- <%= question.pergunta %></h2>
Respostas:
<ul>
    <% question.answers.each do |answer| %>
	  	<li> <h3> <%=answer%> <%= "*" if question.correct == answer%> </h3> </li>
    <% end %>
</ul>
<br />