<% @question.where('teacher_id IS NOT ?', current_user.id).sort_by{|a| a.likes || 0}.reverse.each do |question|%>
	<h1> Prof. <%= question.teacher.name%> </h1>
	<%= render "questions/teacher_question" , question: question%>
	<%= render "questions/like_dislike", question: question %>
<% end %>