<h1>Listing All Questions</h1>

<%= link_to "Create New Question", new_question_path %>

<% @questions.each do |question| %>
    <h2><%= question.title %></h2>
    <p><%= question.description %></p>
    <p>Created On: <%= question.created_at.strftime("%Y-%b-%d")%></p>
    <hr>
<% end %>