<p>
  <strong>Name:</strong>
  <%= @discipline.name %>
</p>

<p>
  <strong>Classe:</strong>
  <%= @discipline.school_class.ano %>

</p>

<%= link_to 'Edit', edit_discipline_path(@discipline) %> |
<%= link_to 'Back', disciplines_path %>
