<html>
	<body>

		<h1> <%= I18n.t("teacher.general") if current_user.teacher?%> </h1>

		<%= link_to I18n.t("exam.your_exams"), exams_path if current_user.teacher? %>
    <%= link_to 'Provas', exams_path if current_user.student? %>

	</body>
</html>
