<% if user_signed_in? %>
  <% if current_user.type == "Teacher" %>
    <%= render 'teacher_exams', exams: @exams%>
  <% else %>
    <%= render 'student_exams'%>
  <% end %>
<% else %>
  <h3> <%=I18n.t("exam.not_logged")%> </h3>
<% end %>